.menu-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 0;
}

.container-center{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 0 40px;
    
    .search-container{
        width: 100%;
        display: flex;
        align-items: center;

        .search-form{
            flex-grow: 1;
        }
    }
}

.filter-options{
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    z-index: 102;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .filter-top{
        button{
            margin: 8px;
        }

        p{
            position: absolute;
            width: 100%;
        }
    }

    .confirm-button{
        margin: 12px 20px 12px auto;
    }
}

.filter-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 101;
}

div[hidden]{
    display: none !important;
}

.container-checkboxes{
    display: flex;
    flex-direction: column;
    padding: 20px;

    ::ng-deep .mat-checkbox-label{
        text-transform: lowercase;
    }

    ::ng-deep .mat-checkbox-label::first-letter{
        text-transform: uppercase;
    }
}

.radio-group{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.consumptionButton{
    padding-top: 5px;
}

.menu-item{
    display: flex;
    flex-direction: column;
    margin: 0 5px 5px 5px;
    height: 454px;
    width: 400px;

    mat-card-content{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        .allergens-icons{
            display: flex;

            img{
                width: 40px;
                height: auto;
            }
        }
    }

    mat-card-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        padding-top: 0;

        p{
            margin: 10px;
        }
    }

    img{
        height: 260px;
        object-fit: cover;
    }
}